html {
  height: 100%;
}

@font-face {
  font-family: "font";
  src: url("images/nicokaku_v2.ttf") format("truetype"),
    url("images/nicokaku_v2.woff") format("woff");
}

@font-face {
  font-family: "font1";
  src: url("images/MPLUS1[wght].ttf") format("truetype"),
    url("images/MPLUS1[wght].woff") format("woff");
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

p,
li {
  font-family: "font1";
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 120px;
  border-radius: 0 0 0 60px;
  backdrop-filter: blur(3px);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.heading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.heading h2 {
  position: absolute;
  font-size: 40px;
  font-family: "font";
}

.heading span {
  background: linear-gradient(transparent 60%, #ffb11b 60%);
}

body {
  position: relative;
  width: 100%;
  margin: 0;
}

main {
  width: 90%;
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main div {
  z-index: 3;
}

.circles {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: 0;
  z-index: 0;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 150px;
    background-color: #ccdeff;
  }
  100% {
    background-color: #ccdeff;
    transform: translateY(-5000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0 100px 0;
}

.image {
  width: 500px;
  height: 400px;
  position: relative;
  z-index: 5;
}

.image-back {
  position: absolute;
  background-color: #ffb11b;
  height: 400px;
  width: 250px;
  right: 0px;
  z-index: 0;
  box-shadow: 1px 3px 10px 0px #777777;
}

.joint {
  position: absolute;
  background-color: #ffb11b;
  height: 400px;
  width: 50px;
  right: -25px;
  z-index: 1;
}

.image img {
  border-radius: 50%;
  position: absolute;
  right: 50px;
  width: 400px;
  height: 400px;
}

.explanation {
  width: 500px;
  height: 400px;
  background-color: #ffb11b;
  border-radius: 0 0 50% 0;
  box-shadow: 1px 3px 10px 0px #777777;
  z-index: 3;
}

.explanation > div {
  height: 200px;
  width: 100%;
  margin: 50px 0;
}

.text h2 {
  font-family: "font";
  text-align: center;
}

.text p {
  line-height: 3em;
  font-family: "font1";
}

.link-group {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.link-group a:hover {
  animation: rotate 0.7s ease-in-out both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 200px;
  row-gap: 100px;
}

.works div {
  width: 250px;
  height: 250px;
  box-shadow: 1px 3px 10px 0px #777777;
  border-radius: 0 50% 50% 50%;
}

.works div:nth-child(1) {
  animation: fuwafuwa_2 10s ease 0s infinite;
}

.works div:nth-child(2) {
  animation: fuwafuwa_2 10s ease 2s infinite;
}

.works div:nth-child(3) {
  animation: fuwafuwa_2 10s ease 5s infinite;
}

.works div:nth-child(4) {
  animation: fuwafuwa_2 10s ease 1s infinite;
}

.works div:nth-child(5) {
  animation: fuwafuwa_2 10s ease 4s infinite;
}

@keyframes fuwafuwa_2 {
  0% {
    transform: translate(0, 0);
    transform: rotate(3deg);
  }
  50% {
    transform: translate(0, -10%);
    transform: rotate(-3deg);
  }
  100% {
    transform: translate(0, 0);
    transform: rotate(3deg);
  }
}

.works img {
  width: 100%;
  height: 100%;
}

.Diall > img,
.Delusion > img {
  filter: grayscale(100%);
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
  background-color: #fff;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #ffb11b;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 20% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffb11b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: "";
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h4,
li {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 p {
  margin-top: 30px;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h4 {
  font-family: "font";
  font-size: 20px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p,
li {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h4,
.snip1543.hover h4,
.snip1543:hover li,
.snip1543.hover li {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.skill i {
  font-size: 100px;
}

.bar {
  height: 60px;
}

.bar-info {
  border-radius: 10px;
  background: #ffb11b;
  cursor: pointer;
  color: #000;
  position: relative;
  width: 10%;
  height: 60px;
  transition: width 3.3s ease-in-out;
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "font";
}

.content_inner {
  font-family: "font1";
}

.bar-info:hover {
  background: #ffc14d;
  color: #242323;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.bar-info > i {
  font-size: 40px;
  padding-left: 10px;
}

.bar-info > img {
  height: 25px;
  display: none;
}

.bar-info:hover img {
  display: block;
}

.R {
  padding-right: 12px;
}

.bar-info span {
  font-size: 20px;
}

details {
  width: 80%;
  margin: 20px auto;
}

summary {
  display: block;
}

.content {
  overflow: hidden;
}

.content_inner {
  padding: 24px 48px;
}

canvas {
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
  padding: 0;
  height: 400px;
}

footer div {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: "font";
}

@media screen and (min-width: 501px) {
  .text,
  .link-group {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  header {
    width: 50%;
    height: 80px;
    border-radius: 0 0 0 50px;
  }
  .heading h2 {
    font-size: 25px;
  }
  .image {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 5;
  }
  .image-back {
    height: 150px;
    width: 300px;
    bottom: 0;
  }
  .joint {
    height: 30px;
    width: 300px;
    bottom: -15px;
    left: 0;
    z-index: 0;
  }
  .image img {
    right: 0px;
    width: 300px;
    height: 300px;
    z-index: 1;
  }
  .explanation {
    width: 300px;
    height: 300px;
  }
  .explanation > div {
    width: 300px;
  }
  .text,
  .link-group {
    width: 70%;
    margin: 0 auto;
  }
  .link-group {
    margin-top: 20px;
  }
  .link-group a {
    font-size: 30px;
  }
  .text p {
    font-size: 14px;
    line-height: 1.5em;
  }
  footer {
    position: relative;
    width: 100%;
    padding: 0;
    height: 400px;
  }
  footer div {
    bottom: 100px;
    gap: 5px;
  }
  footer span,
  footer h2 {
    font-size: 12px;
  }
}
